{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/author.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	<a href="{{ path('author_edit') }}">Добавить автора</a>
	<hr>
	<table class="table tableHovered">
		{% for author in authors %}
			<tr>
				<td><a href="{{ path('author_edit', {id: author.id}) }}">{{ author.fam }} {{ author.nam }} {{ author.ots }}</a></td>
				<td>Количество книг: {{ author.bookCount }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}