{% extends "base.html.twig" %}

{% block body %}
	{{ form_start(form) }}
	<div class="row">
		<div class="col-sm-4">
			{{ form_row(form.fam, {'attr': {'class': 'form-control input-sm', 'autocomplete': 'off'}, 'label': 'Фамилия'}) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.nam, {'attr': {'class': 'form-control input-sm', 'autocomplete': 'off'}, 'label': 'Имя'}) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.ots, {'attr': {'class': 'form-control input-sm', 'autocomplete': 'off'}, 'label': 'Отчество'}) }}
		</div>
	</div>
	
	<div class="hidden">
		{{ form_rest(form) }}
	</div>
	
	<hr>
	
	<button type="submit" class="btn btn-success">Сохранить</button>
	{{ form_end(form, {'render_rest': false}) }}
{% endblock %}