<input type="text" class="formInlineId" value="{{ book.id }}" />
<input type="text" class="formInlineAuthorRaw" value="{{ book.author }}" />
<input type="text" class="formInlineTitle" value="{{ book.title }}" />
<input type="text" class="formInlineYear" value="{{ book.year }}" />

<div class="inlineAuthorList">
	<button type="btnAddAuthor" onclick="showAuthorSelect('А', {{ book.id }})">добавить</button>
	{% for author in book.authors %}
		<span class="formInlineAuthor" author="{{ author.id }}">
			{{ author.fam }} {{ author.nam|first }}.{% if author.ots != '' %} {{ author.ots|first }}.{% endif %}
			<button type="button" class="formInlineAuthorDel" onclick="inlineAuthorDelete(this)">x</button>
		</span>
	{% endfor %}
</div>

<textarea class="formInlineDescription">{{ book.description }}</textarea>

<hr>

<button type="button" onclick="cancelInlineEdit(this)">Отменить</button>
<button type="button" onclick="saveInlineBook(this)">Сохранить</button>