{% extends "base.html.twig" %}

{% block body %}
	<table class="table">
		<tbody>
			{% for book in books %}
				<tr>
					<td class="bookCellThumb">
						{% if book.cover is null %}
							<img class="bookThumb" src="/books/nocover.png">
						{% else %}
							<img class="bookThumb" src="/books/{{ book.id }}/{{ book.cover }}">
						{% endif %}
					</td>
					<td class="bookCellInfo">
						{% include 'book/book_card.html.twig' %}
					</td>
					<td class="bookCellEdit hidden" bookId="{{ book.id }}">
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block filter %}
	{% include 'book/book_filter.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/inlineEdit.js') }}"></script>
{% endblock %}