{% extends "base.html.twig" %}

{% block body %}
	<table class="table">
		<tbody>
			{% for book in books %}
				<tr>
					<td class="bookCellThumb">
						{% if book.cover is null %}
							<img class="bookThumb" src="/books/nocover.png">
						{% else %}
							<img class="bookThumb" src="/books/{{ book.id }}/{{ book.cover }}">
						{% endif %}
					</td>
					<td class="bookCellInfo">
						{% include 'book/book_card.html.twig' %}
					</td>
					<td class="bookCellEdit hidden" bookId="{{ book.id }}">
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block filter %}
	<hr>
	<p>
		Название<br>
		<input type="text" id="filterTitle">
	</p>
	<p>
		Год издания<br>
		<input type="text" id="filterYear">
	</p>
	<p>
		Автор<br>
		<input type="text" id="filterAuthor">
	</p>
	<br>
	<button type="button">Применить</button>
	<button type="button">Очистить</button>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/inlineEdit.js') }}"></script>
{% endblock %}