{% set letterList = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ё', 'Ж', 'З', 'И', 'Й', 
			'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 
			'Ш', 'Щ', 'Э', 'Ю', 'Я'] %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Библиотека{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
		<div id="wrap">
			<div id="head">
				<div class="row">
					<div class="col-sm-3">
						<a href="{{ path('homepage') }}"><img src="{{ asset('tmpl/logo.png') }}" /></a>
					</div>
					<div class="col-sm-9 text-center siteTitle">
						Библиотека
					</div>
				</div>
			</div>
			<div class="container-fluid row">
				<div class="col-sm-3">
					{% block left %}
						<ul id="menu">
							<li><a href="{{ path('homepage') }}">Главная страница</a></li>
							<li><a href="{{ path('book_edit') }}">Добавить книгу</a></li>
							<li><a href="{{ path('authors') }}">Авторы</a></li>
							<li><a href="{{ path('generator') }}">Сгенерировать 50 книг</a></li>
							<li><a href="{{ path('info') }}">Информация о задании</a></li>
						</ul>
					{% endblock %}
					{% block filter %}
						
					{% endblock %}
				</div>
				<div class="col-sm-9">
					{% block body %}{% endblock %}
				</div>
			</div>
			<div id="footer">
				<small><i>Тестовое задание</i></small>
			</div>
		</div>
				
		<div class="modal fade" id="modalAuthor" tabindex="-1" role="dialog" aria-labelledby="modalAuthorLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					  <h4 class="modal-title" id="myModalLabel">Выбор автора</h4>
					</div>
					<div class="modal-body">
						<div id="letterSelect">
							{% for letter in letterList %}
								<a href="#" letter="{{ letter }}" onclick="authorLetterSelect(this); return false;">{{ letter }}</a>
							{% endfor %}
						</div>
						<hr>
						<table class="table">
							<tbody id="authorList">
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
					</div>
				</div>
			</div>
		</div>

		{% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
			<script src="{{ asset('js/main.js') }}"></script>
			<script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
